<div class-="container">
  <h1 class="text-center">
    Data Viewer
  </h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="deviceID">Device ID:</label>
      <div class="col-sm-10">
        <input type="deviceID" class="form-control" id="deviceID" placeholder="TODO choose from list or write">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="timeFrom">From:</label>
      <div class="col-sm-10">
        <input type="timeFrom" class="form-control" id="timeFrom" placeholder="chose date and or time">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="timeTo">Until:</label>
      <div class="col-sm-10">
        <input type="timeTo" class="form-control" id="timeTo" placeholder="chose date and or time">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="OK" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>

